#logoHolder {
    color: #fed136;
    font-weight: 500;
    margin-top: 10px;
    border: 2px solid #fed136;
    padding: 5px 15px 5px 15px;
}

#justifiedBlurb {
    text-align: justify;
}

#about {
    padding-bottom: 2em;
}

#emailAddress{
    color: white;
}


/*-----MODALS-----*/
.modal-dialog {
    overflow-y: scroll;
}

.modalBodyLeftAlign {
    text-align: left;
}

.inlineImagesContainer {
    text-align: center;
}

.inlineImages {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 5px;
}

.inlineImagesFacilidades {
    display: inline-block;
    max-width: 30em;
    max-height: 100%;
    margin: 5px;
}

.inlineImagesCommunidade {
    display: inline-block;
    max-width: 130px;
    max-height: 130px;
    margin: 5px;
}